<div class="container">
    <h1>Contacto</h1>

    <div id="textos" #textos>
        <p appResaltado>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda.
        </p>
    </div>


    <!-- <button *ngIf="!modify" (click)="showRange()">Editar Slider</button>
    <div *ngIf="modify">
        <span>100px</span>
        <input type="range" min="100" max="1000" step="50" [(ngModel)]="widthSlider" (mousedown)="hide()" (mouseup)="changeSize()">
        <span>1000px </span>
        <button (click)="hideRange()">Listo</button>
    </div>

    <div *ngIf="!show">
        <div class="new-size" style="width: {{ widthSlider }}px; height: {{ widthSlider * 450 / 600 }}px;">
            New Size {{ widthSlider }}px
        </div>
    </div>

    <div *ngIf="show">
        <app-slider [width]="widthSlider" (getAutor)="getAutor($event)"></app-slider>
        {{ autor.nombre }}
        <br>
        {{ autor.website }}
        <br>
        {{ autor.facebook }}
    </div> -->
</div>