<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis fringilla posuere. Sed ullamcorper tempor ligula at ultrices. Mauris ornare convallis euismod. Curabitur ac placerat nisl, in convallis massa. Quisque a cursus turpis. Pellentesque quis varius arcu, sed fringilla odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi. Donec purus enim, viverra vitae nisi ut, faucibus mollis augue. Aliquam tincidunt leo sed odio tempus, a consequat lectus ultrices. Nam commodo volutpat arcu, sed gravida sem tempus at. Pellentesque non bibendum ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras in feugiat velit. Suspendisse vel elit faucibus, mollis odio ut, auctor tellus. Nam ut velit nec sem ullamcorper dictum quis et ante.
    </p>
</article>